*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.navbar1{
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  z-index: 9999;
}
.navbar1__brand{
  width: 100px;
}
.navbar1__brand__text{
  padding: 0.5rem;
  font-size: 1.1rem;
  align-items: center;
  background-color:  rgb(0, 102, 167);
  color: white;
}
.navbar1__logo{
  width: 100%;
}
.navbar1__nav__items{
  display: flex;
}

.button__primary {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    margin: 6px;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 5px red;
    border-radius: 4px;
    display: block;
}
.navbar2{
  width: 100%;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #00d7c3;
  border: 1px solid #00d7c3;
  text-align: center;
  -webkit-transition: all .15s ease-in-out;
  padding: 10px 12px;
  text-decoration: none;
}

li a:active{
  background-color: #111;
  background-color: transparent;
  box-shadow: 0 0 6px 0 #00d7c3 inset, 0 0 12px 1px #00d7c3;
  /* border: 1px solid #00d7c3; */
}
.container{
  padding: 0px 16px;
  margin-top: 2rem;
}
.pizza__list__title{
  display: flex;
  justify-content: space-between;
}
.pizza__list__container{
  margin-top: 2rem;
}
.pizza__title__seeall{
  font-size:1.2rem;
  display: block;
  align-items:center;

}
.pizza_title__pizza{
  align-items: center;
}
.pizza__card__list{
  width: 100%;
  margin-top: 1rem;
}
.pizza__card{
  background-color: white;
  margin-top: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  border-radius: 10px;
}
.pizza__card__image{
  width: 100%;
  border-radius: 6px;
}
.pizza__desc__container{
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
.pizza__title{
  font-size: 1.2rem;
  line-height: 1.75rem;
  color: #6099B8;
  font-weight: 900;
}
.pizza__desc{
  margin-top: 0.2rem;
}
.pizza__properties__conatainer{
  /* margin-top: 0.16rem; */
  display:flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.pizza__properties__items__container{
  display: flex;
  flex-direction: column;
}
.pizza__size__title{
  font-size: 0.8rem;
  font-weight: 200;
}
.pizza__size__property{
  font-size: 0.8rem;
  font-weight: 900rem;

}
.pizza__crust__title{
  font-size: 0.8rem;
  font-weight: 200;
}
.pizza__crust__property{
  font-size: 0.8rem;
  font-weight: 900rem;
}
.add__to__cart{
  float: left;
  margin-top: 0.5rem;
}
.add__to__cart__button{
background-color:#ffff;
border-radius:6px;
border:2px solid #4b8f29;
display:inline-block;
cursor:pointer;
color:#green;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding: 0.4rem 0.8rem;
text-decoration:none;
text-shadow:0px 0px 0px #5b8a3c;
}
.text-x1{
  font-size: 1.5rem;
  line-height: 2rem;
  color: #1d3557;
  font-weight: 900;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 .
}
.restaurant__list__container{
  margin-top: 2rem;
}
.restaruant__list__images__container{
  margin-top: 3rem;
}
.restaurant__list__row1{
  display: flex;
  align-items: baseline;
}
.restaurant__list__row2{
  display: flex;
  margin-top: 10px;

  flex-direction: row-reverse;

}
.restaurant1,.restaurant3{
  border-radius: 5px;
  margin: 0 5px;
  width: 150px;
  height: 80px;
}
.restaurant2,.restaurant4{
  border-radius: 5px;
  margin: 0 5px;
  width: 200px;
  height: 100px;
}
/* .email__update__container{
  margin-top: 3rem;
  padding: 15px;
  width: 100%;
}
.email__update__inputfield__container{
  display: flex;
  align-items: center;
}
.email__update__input{
  border: 1px solid #ee89a0;
background-color: #fcedf0;
color: #1d3557;
font-weight: 700;
padding: 0.5rem;
border-radius: 4px;
} */
